*{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;

}

body{
position: relative;
background: #000000;
color: #fff;
height: 100vh;
width: 100%;
background-image: url(./Image/Background.jpg);
background-repeat: no-repeat;
background-size: cover;
}
    

body nav{
width: 100%;
padding: 5px 1%;
display: flex;
align-items: center;
background-color: #790252;
border-radius: 5px;
position:fixed;
background-color:black;
border-bottom-left-radius: 50px;
border-bottom-right-radius:50px;
border-bottom:solid;
border-bottom-color: #e80f88;
border-bottom-width: 7px;
}

.logocamoes{
height: 45px;
border-radius: 5px;
margin: 0 35px;
}

.list{
    flex: 1;
    text-align: right;
    margin-right: 225px;
    
}

.list li{
    display: inline-block ;
    list-style: none;
    margin-left: 20px;
    margin-right: 18px;
}

#name1 ,#name2 ,#name3 ,#name4, #name5 ,#name6{
    color: #fff;
    text-decoration: none;
    height: 152px;
    transition:border 1s;
      
}

#name1 ,#name2:hover ,#name3:hover ,#name4:hover, #name5:hover , #name6:hover{
    border-bottom: 3px solid #e80f88;
  
}

nav button:hover{
    
background-color: #e80f88;

}

nav button{
margin:0 15px;
background-color:#115AC1;
border: none;
height: 30px;
color: #fff;
border-radius: 30px;
transition:background 0.9s;
}

nav button p{
    margin: 3px;
}

.box{
height:100%;
width: auto;
display: flex;

align-items: center;
}


.mirror{
    width: 500px;
    height: 500px;
    padding: 20px;
    border-radius: 15%;
    box-shadow: 0 25px 50px 0 rgba(0,0,0,0.5);
    background:rgba(255, 255, 255, 0.178); 
    border-top: 0.5px solid rgba(255, 255, 255, 0.5);
    border-left: 0.5px solid rgba(255, 255, 255, 0.5);
    }

    .mirror{
    margin: 3% 10%;
    text-align: center;
    }


    .mirror h1{
        text-align: center;
        color:rgb(255, 255, 255);
        text-shadow: 2px 2px 2px rgb(0, 0, 0);
        font-size: 60px;
        }
        
    .mirror h2{
        font-size: 55px;
        text-align: center; 
        text-shadow: 2px 2px 2px rgb(0, 0, 0);
        }

    .obrigado{
        margin: 6% 10%;
        text-align: center;
        font-size: 90px;
        text-shadow: 2px 2px 0 black;
            
        animation: type 2s steps(15);
        overflow: hidden;
        white-space: nowrap;
    }

    @keyframes type {
                0%{
                    width: 0px;
                  }
                100%{
                    width: 5ch;
            }
        }
    
        .psi{
            color: rgb(255, 255, 255);
            animation-name: coler;
            animation-duration: 4s;
            animation-iteration-count: infinite;
            animation-delay: 1S;
        }
        
        @keyframes coler {
        10%{color:white;}
        20%{color:#FD841F;}
        30%{color:#e80f88}
        85%{color: blue;}
        90%{color: #E14D2A;}
        100%{color: #ff0101;}
        }

.github{
border-radius: 100px;
padding: 5px;
}