*{
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;

}

body{
position: relative;
background: #000000;
color: #fff;
height: 100vh;
width: 100%;
background-image: url(../Image/Background.jpg);
background-repeat: no-repeat;

}
    

body nav{
width: 100%;
padding: 5px 1%;
display: flex;
align-items: center;
border-radius: 5px;
position:fixed;
background-color:black;
border-bottom-left-radius: 50px;
border-bottom-right-radius:50px;
border-bottom:solid;
border-bottom-color: #e80f88;
border-bottom-width: 7px;
}

.logocamoes{
height: 45px;
border-radius: 5px;
margin: 0 35px;
}

.list{
    flex: 1;
    text-align: right;
    margin-right: 225px;
    
}

.list li{
    display: inline-block ;
    list-style: none;
    margin-left: 20px;
    margin-right: 18px;
}

#name1 ,#name2 ,#name3 ,#name4, #name5 ,#name6{
    color: #fff;
    text-decoration: none;
    height: 152px;
    transition:border 1s;
      
}

#name1:hover ,#name2 ,#name3:hover ,#name4:hover, #name5:hover , #name6:hover{
    border-bottom: 3px solid #e80f88;
  
}

nav button:hover{
    
background-color: #e80f88;

}

nav button{
margin:0 15px;
background-color:#115AC1;
border: none;
height: 30px;
color: #fff;
border-radius: 30px;
transition:background 0.9s;
}

nav button p{
    margin: 3px;
}

.box{
	 height: 50vh;
     width: 60vh;
	text-align: center;
	border-radius: 10px;
	box-shadow: 0 25px 50px 0 rgba(0,0,0,0.5);
        background:rgba(255, 255, 255, 0.178); 
        border-top: 0.5px solid rgba(255, 255, 255, 0.5);
        border-left: 0.5px solid rgba(255, 255, 255, 0.5);
	padding: 1%;
}
table.boxes{
	  border-collapse: separate;
  border-spacing: 10vh;
  *border-collapse: expression('separate', cellSpacing='1px');
}

table{
	width: auto;
	height: auto;
	padding: 2%;
}
.fistTitle{
	font-size: 50px;
}
.btn1{
height: 50px;
	width: 100px;
	margin-top: 20px;
	color: white;
	font-weight: bold;
	border: solid 1px #AFAFAC;
	border-radius: 10px;
	box-shadow: 0 25px 50px 0 rgba(0,0,0,0.5);
        background:rgba(255, 255, 255, 0.178); 
        border-top: 0.5px solid rgba(255, 255, 255, 0.5);
        border-left: 0.5px solid rgba(255, 255, 255, 0.5);
	
	
}
.btn1:hover{
	background-color: #e80f88;
	font-size: 15px;
}

#modal , #modal1 , #modal2 , #modal3 , #modal4, #modal5, #modal6, #modal7 ,#modal8 , #modal9, #modal10, #modal11 ,#modal11 ,#modal12 ,#modal13 , #modal14 ,#modal15 {
	position: fixed;
	top: 50%;
	left: 50%;
	border: 1px solid black;
	transform: scale(0) translate(-50%, -50%);
	transition: 200ms easy-in-out;
	border-radius: 15px;
	padding: 1%;
	z-index: 10;
	background-color: white;
	width: 95%;
	height: 95%;
	max-width: 99%;
	max-height: 99%;
	color: black;
	
}

#modal.active , #modal1.active , #modal2.active , #modal3.active , #modal4.active, #modal5.active, #modal6.active, #modal7.active ,#modal8.active , #modal9.active, #modal10.active, #modal11.active ,#modal11.active ,#modal12.active ,#modal13.active , #modal14.active ,#modal15.active{
	transform: scale(1) translate(-50%, -50%);
}
.modal-header{
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: thick solid #e80f88;
	
}
.modal-title{
font-size: 1.25rem;
font-weight: bold;

}
.close-btn{
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	font-size: 1.25rem;
	font-weight: bold;
}
#overlay{
	position: fixed;
	opacity: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0, .5);
	pointer-events: none;
}
#overlay.active{
	opacity: 1;
	pointer-events: all;
}

.modal_body{
padding: 2%;
}

.modalb6{
	background-color: aqua;
	height: 400px;
	width:  500px;
	display: inline-block;
	display: flex;
}
.modalb62{
	background-color: aqua;
		height: 400px;
	width:  500px;
}

